<div class="main-container">
  <!-- SIDEBAR -->
  <div class="sidebar">
    <div class="sidebar-header">
      <button class="new-chat">
        <span>➕</span> Nouveau chat
      </button>
    </div>

    <h4>Historique <span class="view-all">All ></span></h4>
    <ul class="history-list">
      <li>Analyse des ventes</li>
      <li>Analyse des Retours Clients</li>
      <li>Prédiction des Tendances</li>
      <li>Prévisions de ventes</li>
    </ul>

    <h4>Assistants <span class="view-all">All ></span></h4>
    <ul class="assistants-list">
      <li>
        <img src="assets/visiodata.png" alt="VisioData" />
        <b>VisioData</b>
      </li>
      <li>
        <img src="assets/tourbot.png" alt="TourBot" />
        <b>TourBot</b>
      </li>
    </ul>
  </div>

  <!-- CONTENU PRINCIPAL -->
  <div class="chat-container">
    <p class="chat-title">Comment puis-je vous aider ?</p>
    <div class="input-area">
      <textarea placeholder="Poser une question" appAutoResize (input)="toggleIcons($event)"></textarea>
      <div class="icons">
        <img src="assets/images/icon_fichier.png" class="icon-file">
        <img *ngIf="!isTextNotEmpty" src="assets/images/icon_voice.png" class="icon-voice">
        <img *ngIf="isTextNotEmpty" src="assets/images/icon_send.png" class="icon-send">
      </div>
    </div>
</div>

  
