<div class="main-container" [class.sidebar-hidden]="isSidebarHidden">
  <!-- SIDEBAR -->
  <div class="sidebar" [class.hidden]="isSidebarHidden">
    <div class="sidebar-header">
      <button class="toggle-sidebar" (click)="toggleSidebar()">
        <img src="assets/images/closeSidebar.png">
      </button>

      <button class="new-chat">
        <i class="fas fa-comment-medical" style="font-size: 20px"></i> Nouveau chat
      </button>
      <button class="search">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <p class="section-title">Historique <span class="view-all">All ></span></p>
    <ul class="history-list">
      <li *ngFor="let item of historyItems" class="history-item" [class.active]="item.isActive">
        <span class="history-title">{{ item.title }}</span>
        <div class="options-menu">
          <span class="options" (click)="toggleDropdown(item, $event)" [class.active]="item.isActive">...</span>
          <div class="dropdown" *ngIf="item.showDropdown">
            <ul>
              <li style="display: flex; align-items: center;">
                <i class="fas fa-edit" style="margin-right: 8px;"></i> Renommer
              </li>
              <li style="color: red; display: flex; align-items: center;">
                <i class="fas fa-trash-alt" style="margin-right: 8px;"></i> Supprimer
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>


    <p class="section-title">Assistants <span class="view-all">All ></span></p>
    <ul class="assistants-list">
      <li>
        <img src="assets/images/img1.png" alt="VisioData" class="assistant-img" />
        <p>VisioData</p>
      </li>
      <li>
        <img src="assets/images/img2.png" alt="TourBot" class="assistant-img" />
        <p>TourBot</p>
      </li>
    </ul>
  </div>

  <!-- Navbar -->
  <div class="avatar-container" [class.has-scroll]="hasScroll">
    <div class="avatar" (click)="toggleMenu()">M</div>
    <div class="menu" *ngIf="menuOpen">
      <p>UserName</p>
      <button>
        <i class="fas fa-sign-out-alt" style="color: #3CB371;"></i> Se Déconnecter
      </button>
    </div>
  </div>

  <!-- CONTENU PRINCIPAL -->
  <div class="chat-container">
    <p class="chat-title" *ngIf="messages.length === 0">Comment puis-je vous aider ?</p>
    <div class="messages-container" #messagesContainer>
      <div class="messages">
        <div *ngFor="let msg of messages" [ngClass]="{'user-msg': msg.isUser, 'bot-msg': !msg.isUser}">
          {{ msg.text }}
        </div>
      </div>
    </div>
    <!-- Zone de saisie -->
    <div class="input-area" [ngClass]="{'fixed-bottom': isFirstMessageSent}">
      <textarea placeholder="Poser une question" appAutoResize [(ngModel)]="message" (input)="toggleIcons($event)"
        (keydown.enter)="sendMessage($event)"></textarea>
      <div class="icons">
        <img src="assets/images/icon_fichier.png" class="icon-file">
        <img *ngIf="!isTextNotEmpty" src="assets/images/icon_voice.png" class="icon-voice">
        <img *ngIf="isTextNotEmpty" src="assets/images/icon_send.png" class="icon-send" (click)="sendMessage($event)">
      </div>
    </div>
  </div>
</div>