.main-container {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s ease;
  margin-left: 250px;
}

/* ========== SIDEBAR ========== */
.sidebar {
  width: 250px;
  background: #F8F8FF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.05);
  transition: width 0.3s ease;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  z-index: 9999;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.toggle-sidebar {
  position: absolute;
  top: 8px;
  left: 15px;
  background: none;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10000;
}

.toggle-sidebar img {
  width: 25px;
  height: 25px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.new-chat {
  color: #2ecc71;
  background: #ECF0F1;
  padding: 8px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Apple Chancery', cursive;
  margin-top: 50px;
  margin-left: -5px;
  margin-right: 100px;
}

.new-chat:hover {
  background-color: #E5E7E9;
}

.search {
  color: #2ecc71;
  background: #ECF0F1;
  padding: 8px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-top: 50px;
  margin-left: -100px;
  margin-right: 20px;
}

.search:hover {
  background-color: #E5E7E9;
}

.section-title {
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 60%;
  font-family: 'Poppins', sans-serif;
}

.view-all {
  font-size: 12px;
  opacity: 60%;
  text-decoration: none;
}

.view-all:hover {
  font-weight: bold;
  text-decoration: underline;
  opacity: 100%;
}

.assistant-img {
  width: 50px;
  height: 50px;
}

.assistants-list {
  list-style-type: none;
  padding-left: 10px;
}

.assistants-list li {
  display: flex;
  align-items: center;
  padding: 5px;
}

.assistants-list li:hover {
  background-color: #ECF0F1;
  border-radius: 10px;
  padding: 5px;
}

.history-list {
  list-style-type: none;
  padding-left: 5px;
  position: relative;

}

.history-item {
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.history-item:hover,
.history-item.active {
  background-color: #ecf0f1;
  border-radius: 8px;
}

.options-menu {
  position: relative;
}

.history-item:hover .options,
.history-item.active .options {
  display: inline; // Affiche les trois points quand actif
}

.options {
  display: none;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  padding: 5px;
}

.dropdown {
  position: absolute;
  right: -70px;
  top: 20px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #D0D3D4;
  z-index: 999;
}

.history-item:hover .dropdown {
  display: block;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.dropdown ul li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background: #f1f1f1;
}

/* ========== Navbar ========== */
.avatar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  width: calc(100% - 250px);
  height: 50px;
  transition: border-bottom 0.3s ease;

  &.has-scroll {
    border-bottom: 1px solid #ddd;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom, #A8EB97, #34A853);
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  top: 8px;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 55px;
  right: 10px;
  background: #F8F8FF;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 160px;
}

.menu p {
  margin: 0;
  padding: 8px;
  font-weight: 500;
}

.menu button {
  width: 100%;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.menu button:hover {
  background: #E5E7E9;
  border-radius: 7px;

}

/* ========== CONTENU PRINCIPAL ========== */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  overflow-y: auto;
  padding-top: 50px;
  margin-bottom: 24vh;
  align-items: center;
  justify-content: center;
}


.messages-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.user-msg {
  align-self: flex-end;
  background-color: #ecf0f1;
  color: #000;
  border-radius: 20px;
  padding: 10px 15px;
  max-width: 60%;
  margin-bottom: 10px;
  text-align: right;
  margin: 5px 0;
}

.bot-msg {
  align-self: flex-start;
  color: #000;
  border-radius: 20px;
  padding: 10px 15px;
  max-width: 60%;
  margin-bottom: 10px;
  margin-left: 150px;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  padding: 10px;
}

.chat-title {
  font-size: 26px;
  font-weight: bold;
  background: linear-gradient(to right, #90EE90, #228B22, #3CB371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 150px;
}

.input-area {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: #F8F8FF;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 67%;
  border: 1px solid #D0D3D4;
  padding: 10px;
  position: absolute;
  margin-top: 10%;

  &.fixed-bottom {
    position: fixed;
    align-items: flex-end;
    left: 250px;
    width: 55%;
    transform: none;
    margin-bottom: 20px;
    transform: translateX(24%);
  }
}

.input-area textarea {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 5px;
  text-align: left;
  resize: none;
  min-height: 15vh;
  overflow-y: auto;
  word-break: break-word;
  white-space: pre-wrap;
  scrollbar-width: thin;
  scrollbar-color: #ECF0F1 transparent;

}

.input-area textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.icons {
  display: flex;
  align-items: center;

}

.icon-send {
  width: 40px;
  height: 40px;
}

.icon-file {
  width: 28px;
  height: 28px;
}

.icon-voice {
  width: 40px;
  height: 40px;
}

/* Personnalisation de la scrollbar */
::-webkit-scrollbar-thumb {
  background: #ecf0f1;
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ecf0f1 #fbfcfc;
}