<div class="login-container">
  <div class="login-box">
    <p class="text-center gradient-title"
      style="font-weight: 800; font-size: 32px; padding-top: 15px; margin-bottom: 2px;">Connexion</p>
    <form style="margin-top: 30px;">
      <div class="input-container">
        <div class="input-group">
          <input class="form-control" type="email" id="email" placeholder=" " required>
          <span class="input-group-text"><i class="fas fa-envelope" style="font-size: 13px;"></i></span>
          <label for="email" class="form-label">Email</label>
        </div>
      </div>
      <div class="input-container">
        <div class="input-group">
          <input class="form-control" type="password" id="password" placeholder=" " required>
          <span class="input-group-text"><i class="fas fa-lock" style="font-size: 13px;"></i></span>
          <label for="password" class="form-label">Mot de passe</label>
        </div>
        <small class="d-block text-end mt-2  gradient-title hover-effect">Mot de passe oublié?</small>
      </div>
      <div class="text-center " style="margin-top: 30px;">
        <button class="btn btn-lg gradient-btn" style="width: 238px; height: 54px;">Connexion</button>
      </div>
      <p class="text-center mt-2" style="font-size: 13px;">Vous n’avez pas de compte? <a href="/register"
          class="gradient-title hover-effect" style="font-size: 15px;">Inscription</a></p>
    </form>
  </div>
</div>