<div class="sidebar">
    <div class="sidebar-header">
        <button class="toggle-sidebar">
            <img src="assets/images/closeSidebar.png">
        </button>
        <button class="new-chat" (click)="newChat()">
            <i class="fas fa-comment-medical" style="font-size: 20px"></i> Nouveau chat
        </button>
        <button class="search" (click)="toggleSearch()">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div class="search-container" *ngIf="isSearchOpen">
        <div class="search-header">
            <input type="text" placeholder="Rechercher un chat..." [(ngModel)]="searchQuery">
            <button class="close-btn" (click)="toggleSearch()">✖</button>
        </div>
        <div class="history-title2" *ngIf="filteredHistory().length > 0">
            30 jours précédents
        </div>
        <ul class="search-results">
            <li *ngFor="let chat of filteredHistory()" (click)="afficheChat(chat.chatId)">
                <i class="fas fa-comment"></i> {{ chat.title }}
            </li>
        </ul>
        <p *ngIf="filteredHistory().length === 0" class="no-results"><i class="fas fa-search"></i> Aucun résultat</p>
    </div>

    <p class="section-title">Historique <span class="view-all">All ></span></p>
    <ul class="history-list">
        <li *ngFor="let item of historyItems" class="history-item" [class.active]="item.isActive"
            (click)="afficheChat(item.chatId)">
            <!-- Affiche un input si en mode édition, sinon le texte du titre -->
            <input *ngIf="item.isEditing" [(ngModel)]="item.newTitle" (blur)="updateTitle(item)"
                (keyup.enter)="updateTitle(item)" type="text" class="history-title-input" />
            <span *ngIf="!item.isEditing" (click)="enableEdit(item)">{{ item.title }}</span>

            <div class="options-menu">
                <span class="options" (click)="toggleDropdown(item)" [class.active]="item.isActive">...</span>
                <div class="dropdown" *ngIf="item.showDropdown"
                    [ngStyle]="{'top': item.dropdownTop, 'left': item.dropdownLeft}">
                    <ul>
                        <li style="display: flex; align-items: center;" (click)="enableEdit(item)">
                            <i class="fas fa-edit" style="margin-right: 8px;"></i> Renommer
                        </li>
                        <li style="color: red; display: flex; align-items: center;"
                            (click)="confirmDelete(item, $event)">
                            <i class="fas fa-trash-alt" style="margin-right: 8px;"></i> Supprimer
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <p class="section-title">Assistants <span class="view-all">All ></span></p>
    <ul class="assistants-list">
        <li>
            <img src="assets/images/img1.png" alt="VisioData" class="assistant-img" />
            <p>VisioData</p>
        </li>
        <li>
            <img src="assets/images/img2.png" alt="TourBot" class="assistant-img" />
            <p>TourBot</p>
        </li>
    </ul>
</div>