<div class="login-container">
    <div class="login-box">
      <p class="text-center gradient-title" style="font-weight: 800; font-size: 32px; padding-top: 15px; margin-bottom: 2px;">Inscription</p>
      <form>
        <div class="input-container">
          <div class="input-group">
            <input class="form-control" type="email" id="email" placeholder=" " required>
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <label for="email" class="form-label">Email</label>
          </div>
        </div>
        <div class="input-container">
          <div class="input-group">
            <input class="form-control" type="password" id="password" placeholder=" " required>
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <label for="password" class="form-label">Mot de passe</label>
          </div>
        </div>
        <div class="input-container">
          <div class="input-group">
            <input class="form-control" type="password" id="confirmPassword" placeholder=" " required>
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <label for="confirmPassword" class="form-label">Confirmez le mot de passe</label>
          </div>
        </div>
  
        <div class="text-center " style="margin-top: 30px;">
          <button class="btn btn-lg gradient-btn" style="width: 238px; height: 54px;">Inscription</button>
        </div>
        <p class="text-center mt-2" style="font-size: 13px;">Vous avez déja un compte? <a href="/login" class="gradient-title hover-effect" style="font-size: 15px;">Connexion</a></p>
      </form>
    </div>
  </div>
  
  
  